[access]
	inheritFrom = All-Projects
[project]
	description = Control And Provisioning of Wireless Access Points (CAPWAP) Protocol
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-capwap-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
